{% extends "main.html" %}

{% block content %}
	<div class="col-md-10 content-body ">
		<div class="col-md-3 border-right">
			<h2>Categories</h2>
			{% if categories !=[] %}
				<ul>
				{% for c in categories %}
					<li><a href = {{url_for('getCategory', category_name = c.name) }}>{{c.name }}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
		</div>

		<div class="col-md-7">
			<div class="col-md-10">
				<h2>{{category_name}} ({{items|length}} books)</h2>
				{% if items !=[] %}
					<ul>
					{% for i in items %}
							<li><a href = {{url_for('getItem', category_name = i.category_name, item_name= i.name) }}>{{i.name }}</a></li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
			{% if user_loggedin %}
				<div class="col-md-2" >
						<a href = {{url_for('addItem')}}>
							<button class="btn new-item hover">Add new book</button>
						</a>
				</div>
			{% endif %}
		</div>
	</div>
	
{% endblock %}
